#chartdiv {
    width: 100%;
    height: 700px;
    font-family: Helvetica Neue;
    font-size: 8px;
}

#actualDate {
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 0.9em;
    color: #000000;
    display: inline;
}

#TotalAwatt {
  text-align: right;
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 1.0em;
    color: #000000;
    display: inline;
}

#TotalBwatt {
  text-align: right;
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 1.0em;
    color: #000000;
    display: inline;
}

#TotalCwatt {
  text-align: right;
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 1.0em;
    color: #000000;
    display: inline;
}

#TotalWatt {
    text-align: right;
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 1.0em;
    color: #000000;
    display: inline;
}

#text {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 1.0em;
    color: #999;
    display: inline;
}

#context {
    text-align: left;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size: 0.9em;
    width: 100%;
    height: 500px;
    margin: 10px;
    margin-top: 5px;
    margin-left: 30px;
    color: #999;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns:15% 75% 10%;
}

header {
  grid-column-start:1;
  grid-column-end:4;
}

left {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
}

main {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
}

footer {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:3;
  grid-row-end:4;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 20px 0 10px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
